
[data-bs-theme=dark][data-color-theme=MATECREW_THEME]:root,
[data-bs-theme=light][data-color-theme=MATECREW_THEME]:root {
  --bs-primary: #67A97B;
  --bs-primary-rgb: 103, 169, 123;
  --bs-light-primary: rgba(103, 169, 123, 0.1);
  --bs-primary-bg-subtle: rgba(103, 169, 123, 0.1);
  --bs-primary-border-subtle: #d4e5da;
  --bs-secondary: #A4C868;
  --bs-secondary-rgb: 164, 200, 104;
  --bs-light-secondary: rgba(164, 200, 104, 0.1);
  --bs-secondary-bg-subtle: rgba(164, 200, 104, 0.1);
  --bs-secondary-border-subtle: #e6efd6;
  --bs-dark: #5A6770;
  --bs-dark-rgb: 90, 103, 112;
  --bs-light: #D9E7EC;
  --bs-light-rgb: 217, 231, 236;
  --bs-muted: #9FACBA;
  --bs-muted-rgb: 159, 172, 186;
}

[data-bs-theme=dark][data-color-theme=MATECREW_THEME]:root .btn-primary,
[data-bs-theme=light][data-color-theme=MATECREW_THEME]:root .btn-primary {
  --bs-btn-bg: #67A97B;
  --bs-btn-border-color: #67A97B;
  --bs-btn-hover-bg: #578f6a;
  --bs-btn-hover-border-color: #578f6a;
}

[data-bs-theme=dark][data-color-theme=MATECREW_THEME]:root .btn-secondary,
[data-bs-theme=light][data-color-theme=MATECREW_THEME]:root .btn-secondary {
  --bs-btn-bg: #A4C868;
  --bs-btn-border-color: #A4C868;
  --bs-btn-hover-bg: #8dab59;
  --bs-btn-hover-border-color: #8dab59;
}
